* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.new-thought-form form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.new-thought-form textarea {
  font-size: 20px;
  border: 0px;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  resize: none;
  margin-bottom: 50px;
  padding: 20px;
}
